# SPDX-FileCopyrightText: 2025 Supabase <support@supabase.io>
# SPDX-FileCopyrightText: 2025 Łukasz Niemier <~@hauleth.dev>
#
# SPDX-License-Identifier: Apache-2.0
# SPDX-License-Identifier: EUPL-1.2

Joel Lee <joel@joellee.org> <lee.yi.jie.joel@gmail.com>
Joel Lee <joel@joellee.org> <joel@joellee.org>

Stas <sts@abc3.dev> <sts@abc3.dev>

Łukasz Niemier <~@hauleth.dev> <lukasz@supabase.io>
Łukasz Niemier <~@hauleth.dev> <lukasz@niemier.pl>

Dimitris Zorbas <dimitrisplusplus@gmail.com> <zorbash@hotmail.com>
